body {
  font-family: "Yomogi", cursive;
  font-size: 25px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: linear-gradient(royalblue, cyan);
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-linkedin {
  background: #55acee;
  color: white;
}
.contact-details {
  display: flex;
  text-decoration: none;
}
.main-button {
  background-image: linear-gradient(royalblue, cyan);
  color: #fff;
  font-weight: 700;
  padding: 13px 22px;
  margin-right: 50px;
  text-transform: uppercase;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  font-size: 16px;

  transition: all;
}
#program-color {
  color: orangered;
}
